.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-products{
  display: block;
}
.categories{
  display: flex;
  padding:.375em;
  justify-content: center;
  align-items: center;
  position: sticky;
  top:0px;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
}
.categories .category{
  margin:1%;
  cursor: pointer;
  border-radius: 4px;
  padding: .735em 1rem;
  background-color:#fd5f7c;
  box-shadow: 0px 0px 2px 2px #fd5f7c;
  color:#fff;
  border:none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
}
.categories .category:focus,.categories  .category:hover{
  background-color: #FF385C;
  box-shadow: 0px 0px 2px 2px #FF385C;
}
.categories div{
  display: inline-flex;
}
.product{
  padding: 1em 2em;
  height: 200px;
  width: 200px;
  border-radius: 5%; 
  box-shadow: rgb(0 0 0 / 20%) 0 0 6px;
  
  margin: 1%;
  display: inline-block;
}
.product .img-wrapper{
  height: 150px;
  width:auto;
}
.product .product-image{
  height: 95%;
  width: 95%;
}
.product .caption{
  width:100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 15px;
}
.product .title{
  width: 130px; 
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-transform: capitalize;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
